### 序列构成的数组<br>
#### 列表生成式

- 较强的可读性

In [4]:
symbols = '$¢£¥€¤'
codes = []
for i in symbols:
    codes.append(ord(i))
codes

[36, 162, 163, 165, 8364, 164]

In [6]:
codes = [ord(i) for i in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [7]:
x = 'ABC'
dummy = [ord(x) for x in x]
x,dummy

('ABC', [65, 66, 67])

In [8]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [9]:
beyond_ascii = list(filter(lambda c:c>127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

- 笛卡尔积

In [10]:
colors = ['black','white']
sizes = ['s','m','l']
tshirts = [(color,size) for color in colors for size in sizes]
tshirts

[('black', 's'),
 ('black', 'm'),
 ('black', 'l'),
 ('white', 's'),
 ('white', 'm'),
 ('white', 'l')]

In [12]:
for color in colors:
    for size in sizes:
        print((color,size))

('black', 's')
('black', 'm')
('black', 'l')
('white', 's')
('white', 'm')
('white', 'l')

In [13]:
tshirts = [(color,size) for size in sizes
                        for color in colors]
tshirts

[('black', 's'),
 ('white', 's'),
 ('black', 'm'),
 ('white', 'm'),
 ('black', 'l'),
 ('white', 'l')]

- 生成器表达式

In [14]:
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [15]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [16]:
colors = ['black','white']
sizes = ['s','m','l']
for tshirt in ('%s %s' % (c,s) for c in colors for s in sizes):
    print(tshirt)

black s
black m
black l
white s
white m
white l

#### 元组

- 元组可用作记录

In [17]:
lax_coordinates = (33.9425, -118.408056) 
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014) 
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [18]:
for passport in sorted(traveler_ids):
    print('%s %s' % passport)

BRA CE342567
ESP XDA205856
USA 31195855

In [19]:
for country,_ in traveler_ids:
    print(country)

USA
BRA
ESP

- 元组拆包

In [20]:
lax_coordinates = (33.9425, -118.408056) 
latitude, longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

In [23]:
divmod(20,8),divmod(20,7)

((2, 4), (2, 6))

In [24]:
t = (20,8)
divmod(*t)

(2, 4)

In [25]:
p = (20,6)
quotient, remainder = divmod(*p)
quotient, remainder

(3, 2)

- 用\*号代替剩下的

```python
print
```

In [26]:
a, b, *rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [27]:
a, b, *rest = range(2)
a,b,rest

(0, 1, [])

In [28]:
a, *body, c = range(5)
a,body,c

(0, [1, 2, 3], 4)

In [29]:
*head, a, b = range(5)
head,a,b

([0, 1, 2], 3, 4)

In [35]:
metro_areas = [
('Tokyo','JP',36.933,(35.689722,139.691667)), 
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
fmt = '{:15} | {:^9.4f} | {:^9.5f}'
for name,cc,pop,(latitude, longitude) in metro_areas:
    if longitude < 0:
        print(fmt.format(name,latitude,longitude))

Mexico City     |  19.4333  | -99.13333
New York-Newark |  40.8086  | -74.02039
Sao Paulo       | -23.5478  | -46.63583

- 具名元组

collections.namedtuple 是一个工厂函数， 它可以用来构建一个带字段名的元组和一个有名字的类——这个带名字的类对调试程序有很大帮助。

In [36]:
from collections import namedtuple
City = namedtuple('City','name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [37]:
tokyo.population

36.933

In [38]:
tokyo.coordinates

(35.689722, 139.691667)

In [40]:
tokyo[0],tokyo[1]

('Tokyo', 'JP')

In [41]:
City._fields

('name', 'country', 'population', 'coordinates')

In [43]:
LatLong = namedtuple('Latlong','lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', Latlong(lat=28.613889, long=77.208889))])

In [44]:
for key,value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: Latlong(lat=28.613889, long=77.208889)

In [46]:
p=City(*delhi)
p

City(name='Delhi NCR', country='IN', population=21.935, coordinates=Latlong(lat=28.613889, long=77.208889))